.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 5rem;
}

.link {
  color: #ffffff80;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  font-family: "Merriweather", serif;
  margin-right: 2.5rem;
  &:hover {
    color: #fff;
  }
}

.account {
  font-family: "Merriweather", serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
