@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Georgian&display=swap");

/* 
font-family: 'Merriweather', serif; - Buenard
font-family: 'Noto Sans Georgian, serif; - Georgia 
*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b1d26;
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
